# Google Appstore EDA

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# import data
df=pd.read_csv('./googledata/googleplaystore.csv')

In [8]:
# import ydata_profiling as yd
# profile = yd.ProfileReport(df)
# profile.to_file(output_file="./googledata/googleplaystore.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [5]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6120,BeFunky Photo Editor Pro,PHOTOGRAPHY,4.5,4724,Varies with device,"50,000+",Paid,$1.99,Everyone,Photography,"August 14, 2017",Varies with device,Varies with device
9466,パーリーゲイツ公式通販｜EJ STYLE（イージェイスタイル）,SHOPPING,NaN,1,9.3M,100+,Free,0,Everyone,Shopping,"November 16, 2017",3.0,4.0.3 and up
2097,My Little Pony Rainbow Runners,FAMILY,4.3,33785,16M,"5,000,000+",Free,0,Everyone,Casual;Action & Adventure,"December 20, 2017",1.3,4.1 and up
511,"FastMeet: Chat, Dating, Love",DATING,4.2,22544,5.9M,"1,000,000+",Free,0,Mature 17+,Dating,"July 27, 2018",1.31.4,4.0.3 and up
6695,BR Classified,BUSINESS,NaN,0,28M,50+,Free,0,Everyone,Business,"August 30, 2017",1.0,4.2 and up
9201,EB Experience,LIFESTYLE,NaN,0,1.8M,1+,Free,0,Everyone,Lifestyle,"October 19, 2017",1.0,4.0.3 and up
946,A&E - Watch Full Episodes of TV Shows,ENTERTAINMENT,4.0,29706,19M,"1,000,000+",Free,0,Teen,Entertainment,"July 16, 2018",3.1.4,4.4 and up
6909,BW Taxi,MAPS_AND_NAVIGATION,3.0,67,53M,"5,000+",Free,0,Everyone,Maps & Navigation,"May 1, 2018",3.19.34,5.0 and up
7064,BZ Langenthaler Tagblatt,VIDEO_PLAYERS,NaN,22,8.5M,"1,000+",Free,0,Everyone,Video Players & Editors,"August 3, 2018",7.5.9.1,4.1 and up
9650,EO SouthAsia,BUSINESS,4.2,8,19M,100+,Free,0,Teen,Business,"April 25, 2018",1.0.23,4.1 and up

In [6]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

Size, install and price should be numeric

In [7]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [8]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [84]:
df2['Size'].value_counts()

Size
11M     198
12M     196
14M     194
13M     191
15M     184
       ...
430k      1
429k      1
200k      1
460k      1
619k      1
Name: count, Length: 460, dtype: int64

In [9]:
# replace vaies with device with NaN
df['Size'].replace('Varies with device', np.nan, inplace=True)
# Function to convert KB to MB
def kb_to_mb(size_str):
    if pd.notna(size_str):
        if 'k' in size_str:
            size_in_kb = float(size_str.replace('k', ''))
            size_in_mb = size_in_kb / 1024
            return f'{size_in_mb:.2f}M'
        else:
            return size_str  # Leave it as is if it's already in MB
    else:
        return size_str  # Handle NaN values

# Apply the function to the 'size' column
df['Size'] = df['Size'].apply(kb_to_mb)
# remove the 'M' from the size column amd cpmvert to float
df['Size'] = df['Size'].str.replace('M', '').astype(float)
# replace the column name with 'Size(M)'
df.rename(columns={'Size': 'Size(MB)'}, inplace=True)

In [11]:
# bining install in 5 groups
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

In [12]:
# remove '+' and ',' from installs
df['Installs'] = df['Installs'].str.replace('+', '')
df['Installs'] = df['Installs'].str.replace(',', '')
df['Installs'].value_counts()

Installs
1000000       1579
10000000      1252
100000        1169
10000         1054
1000           908
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
Name: count, dtype: int64

In [66]:
df['Installs']=df['Installs'].astype(int)

In [67]:
# bining da# Define the bin edges and labels
bins = [0, 50000, 250000, 500000, 1000000]
labels = ['0-50k', '50k-250k', '250k-500k', '500k-1M']

# Use the cut() function to assign values to bins
df['Installs'] = pd.cut(df['Installs'], bins=bins, labels=labels, right=False)

In [68]:
df1.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
994,Hamilton — The Official App,ENTERTAINMENT,4.5,1575,43M,50k-250k,Free,0,Everyone,Entertainment,"July 13, 2018",2.3.2,5.0 and up
4871,A-B repeater,VIDEO_PLAYERS,4.4,32,239k,0-50k,Free,0,Everyone,Video Players & Editors,"May 18, 2018",1.8,3.0 and up
3588,My baby firework,PARENTING,3.7,4976,2.8M,NaN,Free,0,Everyone,Parenting;Education,"May 28, 2018",2.04.2714,4.0 and up
5783,Dynamics AX,BUSINESS,3.7,244,976k,0-50k,Free,0,Everyone,Business,"October 26, 2015",3.3,2.3.3 and up
4249,Jetpack Joyride,GAME,4.4,4637439,96M,NaN,Free,0,Everyone 10+,Arcade,"July 19, 2018",1.10.12,4.1 and up
7961,How to Write CV,BOOKS_AND_REFERENCE,4.6,244,4.1M,50k-250k,Free,0,Everyone,Books & Reference,"April 22, 2016",1.0.0,4.0 and up
5697,Total AV,PRODUCTIVITY,3.4,617,46M,50k-250k,Free,0,Everyone,Productivity,"April 17, 2018",1.5.3,4.1 and up
10609,"Trinity Church Deltona, FL",LIFESTYLE,5.0,33,28M,0-50k,Free,0,Everyone,Lifestyle,"May 7, 2018",1.9.0.0,2.3.3 and up
9158,SW Battlefront Companion,FAMILY,4.4,93870,79M,NaN,Free,0,Everyone,Strategy,"February 3, 2016",1.0.6,4.0 and up
4139,F Length Sim (no Ads),PHOTOGRAPHY,NaN,0,1.7M,0-50k,Paid,$2.00,Everyone,Photography,"April 29, 2018",1.0,4.0.3 and up

In [69]:
df1['Installs'].value_counts()

Installs
0-50k        4243
50k-250k     1648
500k-1M       539
250k-500k       0
Name: count, dtype: int64

In [70]:
df['Price'].value_counts()

Price
0         10041
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [71]:
# remove $ from price
df['Price'] = df['Price'].apply(lambda x: x.strip('$'))

In [72]:
df['Price'].value_counts()

Price
0        10041
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

In [73]:
# rename Price to Price in $ and convert to float
df.rename(columns={'Price':'Price($)'}, inplace=True)
df['Price($)'] = df['Price($)'].astype(float)

In [1]:
df.head()

NameError: name 'df' is not defined