# Random Forest
Random forest is a popular machine learning algorithm that belongs to the supervised learning technique. It can be used for both classification and regression tasks. It is also the most flexible and easy to use algorithm. A forest is comprised of trees. It is said that the more trees it has, the more robust a forest is. Random forests creates decision trees on randomly selected data samples, gets prediction from each tree and selects the best solution by means of voting. It also provides a pretty good indicator of the feature importance.

In [6]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, mean_squared_error

In [4]:
# load dataset
df=sns.load_dataset('Tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object':
        df[col]=le.fit_transform(df[col])

In [9]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [10]:
# split the data
X=df.drop('sex',axis=1)
y=df['sex']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
model=RandomForestClassifier(random_state=42,n_estimators=200,criterion='gini',max_depth=10,min_samples_split=2,min_samples_leaf=1,bootstrap=True,oob_score=True,n_jobs=-1,verbose=0)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

# evaluate the model
print('Accuracy:', accuracy_score(y_test, y_pred))
print('confusion_matrix:', confusion_matrix(y_test, y_pred))
print('classification_report:', classification_report(y_test, y_pred))

Accuracy: 0.6530612244897959
confusion_matrix: [[ 6 13]
 [ 4 26]]
classification_report:               precision    recall  f1-score   support

           0       0.60      0.32      0.41        19
           1       0.67      0.87      0.75        30

    accuracy                           0.65        49
   macro avg       0.63      0.59      0.58        49
weighted avg       0.64      0.65      0.62        49

In [29]:
from sklearn.ensemble import RandomForestRegressor
# split the data
X=df.drop('tip',axis=1)
y=df['tip']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model=RandomForestRegressor(random_state=42,n_estimators=200)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
# evaluate the model
print('r2_score:', model.score(X_test, y_test))
print('mean_squared_error:', mean_squared_error(y_test, y_pred))

r2_score: 0.2402261043743361
mean_squared_error: 0.9496955984183694