# One Way Anova

In [2]:
from scipy import stats as st

# Sample data
data = [1, 2, 3, 4, 5]
data2=[7, 8, 9, 10, 11]
data3=[14, 15, 16, 17, 18]
 # Perfom the ANOVA
f_val, p_val = st.f_oneway(data, data2, data3)

print("One-way ANOVA P =", p_val)
if p_val < 0.05:
    print("Reject the null hypothesis that the means are not equal.")
else:
    print("Fail to reject the null hypothesis that the means are equal.")

One-way ANOVA P = 8.398884450795421e-08
Reject the null hypothesis that the means are not equal.

In [ ]:
!pip install statsmodels

In [6]:
# one-way ANOVA using statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

# create dataframe
df=pd.DataFrame({'data':data + data2 + data3, 'group': ['data']*5 + ['data2']*5 + ['data3']*5})

In [8]:
df

    data  group
0      1   data
1      2   data
2      3   data
3      4   data
4      5   data
5      7  data2
6      8  data2
7      9  data2
8     10  data2
9     11  data2
10    14  data3
11    15  data3
12    16  data3
13    17  data3
14    18  data3

In [9]:
# fit the model
model = ols('data ~ group', data=df).fit()

In [10]:
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

              sum_sq    df          F        PR(>F)
group     423.333333   2.0  84.666667  8.398884e-08
Residual   30.000000  12.0        NaN           NaN

In [11]:
# Print the results using if else
if anova_table['PR(>F)'][0] < 0.05:
    print("Reject the null hypothesis that the means are not equal.")
else:
    print("Fail to reject the null hypothesis that the means are equal.")

Reject the null hypothesis that the means are not equal.

C:\Users\ATECH\AppData\Local\Temp\ipykernel_6532\4244711480.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

In [12]:
# Sample data
data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1", 
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low", 
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low"]
})
data.head()

   Growth Fertilizer Sunlight
0      20         F1     High
1      22         F1     High
2      19         F1     High
3      24         F1     High
4      25         F1     High

2 way Anova is when we have 2 or more independat categorical variables and 1 continous dependant variable.

In [13]:
# perform two-way ANOVA
model = ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Fertilizer):C(Sunlight)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)
if anova_table['PR(>F)'][0] < 0.05:
    print("Reject the null hypothesis that the means are not equal.")
else:
    print("Fail to reject the null hypothesis that the means are equal.")

                                 sum_sq    df             F        PR(>F)
C(Fertilizer)              3.090667e+02   2.0  3.132432e+01  2.038888e-07
C(Sunlight)                7.500000e+00   1.0  1.520270e+00  2.295198e-01
C(Fertilizer):C(Sunlight)  6.442364e-29   2.0  6.529423e-30  1.000000e+00
Residual                   1.184000e+02  24.0           NaN           NaN
Reject the null hypothesis that the means are not equal.

C:\Users\ATECH\AppData\Local\Temp\ipykernel_6532\350184569.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

In [14]:
# 3-way ANOVA
data2= pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25,
               20, 22, 21, 23, 24, 26, 28, 25, 27, 29, 17, 19, 21, 18, 20],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1", 
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3",
                   "F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low", 
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low",
                 "High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High"],
    "Watering": ["Regular", "Regular", "Regular", "Regular", "Regular", 
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse", 
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Regular", "Regular", "Regular", "Regular", "Regular", 
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular"]
})
model=ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Watering) + C(Fertilizer):C(Sunlight) + C(Fertilizer):C(Watering) + C(Sunlight):C(Watering) + C(Fertilizer):C(Sunlight):C(Watering)', data=data2).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)
if anova_table['PR(>F)'][0] < 0.05:
    print("Reject the null hypothesis that the means are not equal.")
else:
    print("Fail to reject the null hypothesis that the means are equal.")

                                             sum_sq    df             F  \
C(Fertilizer)                          2.333867e+02   2.0  2.893223e+01
C(Sunlight)                           -2.159294e-12   1.0 -5.353622e-13
C(Watering)                            1.024314e+01   1.0  2.539620e+00
C(Fertilizer):C(Sunlight)             -4.861072e-13   2.0 -6.026122e-14
C(Fertilizer):C(Watering)              9.531901e-01   2.0  1.181641e-01
C(Sunlight):C(Watering)                2.054444e+01   1.0  5.093664e+00
C(Fertilizer):C(Sunlight):C(Watering)  1.088889e+00   2.0  1.349862e-01
Residual                               1.573000e+02  39.0           NaN

                                             PR(>F)
C(Fertilizer)                          1.974932e-08
C(Sunlight)                            1.000000e+00
C(Watering)                            1.190950e-01
C(Fertilizer):C(Sunlight)              1.000000e+00
C(Fertilizer):C(Watering)              8.888672e-01
C(Sunlight):C(Watering)                2.969139e-02
C(Fertilizer):C(Sunlight):C(Watering)  8.741344e-01
Residual                                        NaN
Reject the null hypothesis that the means are not equal.

C:\Users\ATECH\AppData\Local\Temp\ipykernel_6532\851588116.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

In [15]:
# Sample data
data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25,
               20, 22, 21, 23, 24, 26, 28, 25, 27, 29, 17, 19, 21, 18, 20],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1", 
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3",
                   "F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low", 
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low",
                 "High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High"],
    "Watering": ["Regular", "Regular", "Regular", "Regular", "Regular", 
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse", 
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Regular", "Regular", "Regular", "Regular", "Regular", 
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular"]
})

# Fit the model
model = ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Watering) + C(Fertilizer):C(Sunlight) + C(Fertilizer):C(Watering) + C(Sunlight):C(Watering) + C(Fertilizer):C(Sunlight):C(Watering)', data=data).fit()

# Perform three-way ANOVA
anova_results = sm.stats.anova_lm(model, typ=2)

print(anova_results)


# print the results based on if the p-value is less than 0.05

if anova_results["PR(>F)"][0] < 0.05:
    print("Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05")
else:
    print("Fail to reject null hypothesis: The means are equal")

                                             sum_sq    df             F  \
C(Fertilizer)                          2.333867e+02   2.0  2.893223e+01
C(Sunlight)                           -2.159294e-12   1.0 -5.353622e-13
C(Watering)                            1.024314e+01   1.0  2.539620e+00
C(Fertilizer):C(Sunlight)             -4.861072e-13   2.0 -6.026122e-14
C(Fertilizer):C(Watering)              9.531901e-01   2.0  1.181641e-01
C(Sunlight):C(Watering)                2.054444e+01   1.0  5.093664e+00
C(Fertilizer):C(Sunlight):C(Watering)  1.088889e+00   2.0  1.349862e-01
Residual                               1.573000e+02  39.0           NaN

                                             PR(>F)
C(Fertilizer)                          1.974932e-08
C(Sunlight)                            1.000000e+00
C(Watering)                            1.190950e-01
C(Fertilizer):C(Sunlight)              1.000000e+00
C(Fertilizer):C(Watering)              8.888672e-01
C(Sunlight):C(Watering)                2.969139e-02
C(Fertilizer):C(Sunlight):C(Watering)  8.741344e-01
Residual                                        NaN
Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05

C:\Users\ATECH\AppData\Local\Temp\ipykernel_6532\1742987471.py:38: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_results["PR(>F)"][0] < 0.05:

Manova is when we have 2 or more continous dependant variables and 1 or more independant categorical variables.